* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1100px; 

}

.col-12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.logo {
    font-family: sans-serif;
    font-size: 40px;
    color: darkblue;
    font-weight: bold;
}

.text {
    color: aqua;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu-item {
    display: inline-block;
    position: relative;
}

.menu-item:hover > .submenu{
    display: block;
}

.submenu {
    position: absolute;
    display: none;
}
.submenu li {
    min-width: 200px;
    background-color:white;
    padding: 10px 5px;
}


.menu-item a {
    margin: 0 3px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(41, 41, 41);
}

.menu-item a:hover {
    color: aqua;
    transition: all 0.8s;
}